/*导航栏*/
body {
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    height: 100%;
    background: url('../img/background.png') repeat-y;
}

nav {
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    flex: 1;
}

nav a {
    color: #b0b0b0;
    text-decoration: none;
}

nav a:hover {
    color: #FFF;
    font-weight:bold;
}

nav .line {
    margin: 1em;
    color: #424242;
}

nav #nav_logo {
    height: 60px;
    transform: translateX(50px);
}

/*第一块展示区*/
#show_section {
    width: 100%;
    margin-top: 3%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
.show_section_left{
    transform: translateX(100px);
}
.show_section_left button {

    --color-main: #e37ad3;
    --color-shadow: #d850b1;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 500;
    border: .2rem solid #0b0b0b;
    height: 7rem;
    padding: 0 3.2rem;
    font-size: 2.2rem;
}
.show_section_right img{
    height: 600px;
}

/*第二块展示区*/
footer {
    margin-top: 3%;
    width: 100%;
    flex: 1;

}
