<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homie-7</title>
        <link rel="stylesheet" href="../static/css/index.css" media="screen" title="no title">
        <link rel="shortcut icon" href="../static/favicon.ico">
    </head>
    <body>
        <div class="main">
        <a href="/note" class="index_container note">
            <div class="index_pic">
                <!-- <img src="../static/img/note.png" alt="" /> -->
            </div>
            <div class="index_info">
                <p>NOTE</p>
                <p>笔记</p>
            </div>
        </a>

        <a href="/resume"class="index_container resume">
            <div class="index_pic">
                <!-- <img src="../static/img/south.png" alt="" /> -->
            </div>
            <div class="index_info">
                <p>RESUME</p>
                <p>简历</p>
            </div>
        </a>

        <a href="/demo" class="index_container demo">
            <div class="index_pic">
                <!-- <img src="../static/img/demo.png" alt="" /> -->
            </div>
            <div class="index_info">
                <p>DEMO</p>
                <p>作品</p>
            </div>
        </a>
    </div>

    </body>
</html>
