<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>resume</title>
        <link rel="stylesheet" href="../static/css/note/index.css" media="screen" title="no title">
        <link rel="shortcut icon" href="../static/favicon.ico">
    </head>
    <body>
        <nav>
            <div class="nav_left">
                <img id="nav_logo" src="../static/img/nav_logo.png">
            </div>
            <div class="nav_right">
                <a href="#">NOTE</a>
                <span class="line">|</span>
                <a href="/resume">RESUME</a>
                <span class="line">|</span>
                <a href="/demo">DEMO</a>
                <span class="line">|</span>
                <a href="/">HOME</a>
                <span class="line">|</span>
           </div>
        </nav>
        <section id="show_section">
            <div class="show_section_left">
                <h1>Demoisellek</h1>
                <h2>this is the south</h2>
                <!-- 准备搬论坛的程序过来 -->
                <a href="/note/new">新增 note</a>
                <main>
                    <div id="content">
                        <div class="panel">
                            <div class="header">
                                <a href="/note" class="note-tab current-tab">
                                    全部
                                </a>
                                <a href="/note?board_id=js">
                                        js
                                </a>
                            </div>
                            <div class="inner post">
                                <div class="note_list">
                                    {% for t in notes %}
                                    <div class="cell">
                                        <div class="note_title_wrapper">
                                            <img src="" alt="用户头像" class="avatar">
                                            <a class="note_title" href="/note/detail/{{ t.id }}">
                                                {{ t.title }}
                                            </a>
                                            <span>{{ t.views }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <button type="button" name="button">Click here</button>
            </div>
            <div class="show_section_right">
                <img src="../static/img/the_south.jpg" alt="" />
            </div>
        </section>
        <footer>
            <p>
                this is the end
            </p>
        </footer>


    <script>
        (function () {
            var editor = new Editor();
            editor.render($('.editor')[0]);
        })();
    </script>
    <script src="../static/js/seven.js"></script>
    <script src="../static/js/nav.js"></script>
    </body>
</html>
