<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>resume</title>
        <link rel="stylesheet" href="../static/css/note/index.css" media="screen" title="no title">
    </head>
    <body>
        <nav>
            <div class="nav_left">
                <img id="nav_logo" src="../static/img/nav_logo.png">
            </div>
            <div class="nav_right">
                <a href="#">NOTE</a>
                <span class="line">|</span>
                <a href="/resume">RESUME</a>
                <span class="line">|</span>
                <a href="/demo">DEMO</a>
                <span class="line">|</span>
                <a href="/">HOME</a>
                <span class="line">|</span>
           </div>
        </nav>
        <section id="show_section">
            <div class="show_section_left">
                <h1>Demoisellek</h1>
                <h2>this is the south</h2>
                <!-- 准备搬论坛的程序过来 -->
                <button type="button" name="button">Click here</button>
            </div>
            <div class="show_section_right">
                <img src="../static/img/the_south.jpg" alt="" />
            </div>
        </section>
        <footer>
            <p>
                this is the end
            </p>
        </footer>
    <script src="../static/js/nav.js"></script>
    </body>
</html>
